@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --bg-color: #703D57;
    --text-color: #D9B8C4;
    --accent-color: #241715;
    --add-color: #957186;
    --shadow-color: #402A2C;
}



*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 700;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 30px;
    /* margin-top: 20px; */
    margin-left: 20px;
    margin-right: 20px;
}
a{
    all: unset;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: var(--shadow-color);
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
    color: var(--add-color);
}
h4{
    font-size: 35px;
    color: var(--add-color);
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--accent-color);
    align-items: center;
    position: sticky;
    z-index: 5;
    top: 0;
    background: var(--bg-color);
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo span{
    color: var(--add-color) ;
}
nav{
    display: flex;
    gap: 50px;
}
.social{
    font-size: 50px;
    display: flex;
    align-items: center;
    
}

#burger{
    all: unset;
    width: 64px;
    height: 64px;
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
    text-align: center;
    color: var(--text-color);
    display: none;
}
#burger:hover{
    background: var(--add-color);
    border-radius: 8px;
}

.offer{
    display: flex;
    align-items: flex-start;
    gap: 50px;

}
.offer img{
    max-width: 50%;
    border-radius: 10px;
}
.offer-text{
    max-width: 50%;
}
.offer-text h1{
    margin: 50px 0;
}
.offer-text li{
    line-height: 150%;
    color: var(--add-color);
    font-size: 30px;
}
.offer ul{
    list-style: disc;
    margin-left: 30px;
}
.offer li::marker{
    color: var(--accent-color);

}
.star{
    margin-top: 50px;
}
.description{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;   
}
#portfolio, #about, #services{
    scroll-margin-block-start: 80px;
}
.description h3{
    text-align: center;
}
.description span{
    color: var(--accent-color);
}
.description h4{
    text-align: center;
}
main{
    overflow: hidden;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    transition: 1s;
    background-color: var(--bg-color);
    right: 0;
    padding: 30px;
    top: -400px;
    z-index: 4;
}
.burger-menu-open{
   display: flex;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    transition: 1s;
    background-color: var(--bg-color);
    right: 0;
    padding: 30px;
    top: 75px;
    z-index: 4; 
    
}
.about{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}
.about h3{
    text-align: center;
}
#portfolio h3{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#portfolio a{
    color: var(--accent-color);
}
#portfolio a:hover{
    color: var(--shadow-color);
}
#portfolio p{
    max-width: 90%;
}
.slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    
}

.frame {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    gap: 10px;
    text-align: center;  
    
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--add-color);
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    font-size: 24px;
    width: 50px;
    height: 50px;

}

.prev-button {
    left: 0px;
}

.next-button {
    right: 0px;
}
.next-button:hover, .prev-button:hover{
    background-color: var(--text-color);
    border-radius: 50%;
}
.slider-wrapper {
    display: flex;
    max-width: 100%;
    transition: transform 0.5s ease;
}

.info{
    border-radius: 50%;
    max-width: 200px;   
}
.advantages h3{
    text-align: center;
    margin: 50px 0;

}
.infograf div{
   display: flex;
   align-items: center;
   gap: 50px;
}
.infograf{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 800px;
    margin: 0 auto;  
}
.infograf span{
    font-size: 40px;
    font-weight: 700;
}
.services{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}
.services h3, .services h4{
    text-align: center;
}
.services li{
    line-height: 150%;
    color: var(--add-color);
    font-size: 30px;
    margin-left: 30px;
}
.services ul{
    list-style: disc;
}
.services li::marker{
    color: var(--accent-color);

}
.oferta{
    color: var(--add-color);
    font-size: 30px;
}
footer{
    margin-top: 50px;
    border-top: 3px solid var(--accent-color);
}
.stages{
    font-size: 35px;
    color: var(--shadow-color);
    text-align: center;
}
.bonus{
    color: var(--add-color);
}









@media screen and (max-width: 1250px) {
    #burger {
        display: block;
    }
    nav{
        display: none;
    }
    .offer{
        flex-direction: column;
        gap: 50px;
    }
    .offer-text{
        max-width: 100%;
    }
    .offer img{
        max-width: 100%;
    }
    
}
@media screen and (max-width: 1124px){
    h1, h3, h4{
        font-size: 30px;
    }
    .offer li{
        font-size: 30px;
        line-height: 100%;
        
    }
    .advantages span{
        font-size: 30px;
    }
    .services li{
        font-size: 30px;
        line-height: 100%;
    }

}
@media screen and (max-width: 665px){
    .logo{
        display: none;
    }
    .info{
        display: none;
    }
    h1, h3, h4{
        font-size: 25px;
    }
    .offer li{
        font-size: 20px;
        line-height: 100%;
        
    }
    .advantages span{
        font-size: 20px;
    }
    .services li{
        font-size: 20px;
        line-height: 100%;
    }
    body{
        font-size: 20px;
    }
    .stages{
        font-size: 20px;
    }
    .oferta{
        font-size: 20px;
    }
}


/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .frame {
        padding: 15px; /* Уменьшаем отступы */
        gap: 8px; /* Уменьшаем промежуток между элементами */
    }

    .prev-button,
    .next-button {
        font-size: 18px; /* Уменьшаем размер кнопок */
        padding: 8px; /* Уменьшаем padding */
    }

    .slider {
        padding: 10px; /* Добавляем отступы для слайдера */
    }
    .prev-button,
.next-button {
    width: 30px;
    height: 30px;
    

}
}

@media (max-width: 480px) {
    .frame {
        padding: 10px; /* Еще меньше отступы */
        gap: 5px; /* Еще меньше промежуток */
    }

    .prev-button,
    .next-button {
        font-size: 16px; /* Еще меньше размер кнопок */
        padding: 6px; /* Еще меньше padding */
    }

    .slider {
        padding: 5px; /* Меньше отступы для слайдера */
    }
}

/* Адаптация изображений */
.frame img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
}